.wrapper {
	display: inline-flex;
	flex-direction: column;
	padding: 20px 10px;
	align-items: center;
	max-width: 700px;
	margin-right: 20px;
}

.title {
  font-weight: 500;
  font-size: 36px;
  color: var(--dark-0);
  text-align: center;
}
