/preprocessing/.ipynb_checkpoints/
/preprocessing/custom_data/2019/
/preprocessing/custom_data/2020/
/preprocessing/custom_data/2021/
/preprocessing/sanctions_data/Австралия_санкции.xlsx
/preprocessing/sanctions_data/Великобритания_санкции.xlsx
/preprocessing/sanctions_data/Европейский союз_санкции.xlsx
/preprocessing/sanctions_data/Канада_санкции.xlsx
/preprocessing/sanctions_data/Сингапур_санкции.xlsx
/preprocessing/sanctions_data/США_санкции.xlsx
/preprocessing/sanctions_data/Швейцария_санкции.xlsx
/preprocessing/sanctions_data/Япония_санкции.xlsx
/preprocessing/tnved_data/tnved_data.csv
!/preprocessing/sources/customs_country.csv

!/preprocessing/sources/customs_customdata.csv

!/preprocessing/sources/customs_customtnvedcode.csv

!/preprocessing/sources/customs_federaldistrict.csv

!/preprocessing/sources/customs_recommendation.csv

!/preprocessing/sources/customs_region.csv

!/preprocessing/sources/customs_sanction.csv

!/preprocessing/sources/customs_unit.csv
